<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>DataServlet</display-name>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <!--<servlet-class>com.gaox.encrypt.example.symmetric.http.DataServlet</servlet-class>-->
        <servlet-class>com.gaox.encrypt.example.asymmetric.http.DataServlet</servlet-class>
        <init-param>
            <param-name>key</param-name>
            <!--<param-value><![CDATA[MgOFgiheLOMyhD4NF/m0AIfPEn2yQRWyarr3rGxZlAA=]]></param-value>-->
            <!--<param-value><![CDATA[MIIBVAIBADANBgkqhkiG9w0BAQEFAASCAT4wggE6AgEAAkEAkZd2LjZL8Wq7DryK5T88P18AxVgy0UFgVq31i4NLGJCriHD2xEFYvt5g9jgPAgEYJ380qxs/NvEn5bDcE4jynQIDAQABAkAOwDnJFNc87oNlStUHxRBlm0qItBbx/J22KonmSLcjFdzFFedATEhrxQdkF2+CMCzMT1GZzEEs/0uTmPvVuLoBAiEA/CjrxtJc/7NtQC1h8RL8dJLMVZYCgLt2zkFi7fYUCmUCIQCTzxH5a+U+02fA0YSNNzQtRx+FSP8HiGn7JkmiSk/n2QIhALLrvlC3V3HAONb+3K4YELYOq5pW9LOvUN+NGctLfnDZAiBRnLIWAAcyK1RMWONRfbunjG/RDj8Sj7XE4J0jqNh58QIgSQq0WREYLEhf2/QflNz/flQenqnj1GFeXyx+dXcDPQo=]]></param-value>-->
            <param-value><![CDATA[30820155020100300d06092a864886f70d01010105000482013f3082013b020100024100d1069fb346614ee961a02bdf415ab8671dce9532638e639552db39ab2d41b3c0b00664baef26be1f30a53a4e079b535394d2c7abbf0770fa4059123d3eaafe35020301000102410094e058e2c160116a5c644e9b26db4cb7f51cec5b0559a747f5c9badb56d293098347b0fcee61937748c5865e2e077871fb3331eefdfbee966f65e809f4e94641022100eac663f9314893b040bc7e5340d1a925d4cb308dd1e451255eba9f7c999d0cc9022100e3ec4c80f1113718f940047949bee9ab3ee61e4e4f5b802b101fe79a804a980d022100c172168e0d7dafb35aa3f5b2c385fdc99e3c8e154d0cc38ff72dee9bcc370b81022013cf35d6ff1cbfed2bbca4a6e601f1cd306a4fb7feadb53608f0bcf070b60b01022027d72e62f16fd78818357e038828a72811b8e51f8ce56d55ad9498d91aef743d]]></param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>